<!DOCTYPE html>
<html>
  <head>
    <title>Short URL</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="jumbotron jumbotron-fluid text-center">
        <h1>Welcome to ShortURL<sup><small>TM</small></sup></sup></h1>
        <p><em>Your source for shortenned URLs</em></p>
      <div v-if="!authenticated" class="form-group text-center">
        <input class="col-4 mx-auto form-control" type="text" name="username" v-model="input.username" placeholder="Username" />
        <input class="col-4 mx-auto form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
        <button class="col-4 btn btn-outline-success" type="button" v-on:click="login()">Login</button>
      </div>
      <div v-else class="text-center">
        <div class="form-group text-center">
          <input class="col-4 mx-auto form-control" type="text" name="url" v-model="input.addUrlData" placeholder="http://urlhere.com" />
          <button class="col-4 btn btn-outline-success" type="button" v-on:click="addAndFetchURLs()">Shorten URL</button>
        </div>
        <button type="button" class="btn btn-outline-danger" v-on:click="logout()">Logout</button>
        <button type="button" class="btn btn-outline-primary" v-on:click="fetchURLs()">List URLs</button>
      </div>
    </div>
    <div v-if="authenticated">
      <div v-if="urlData != null" id="urlList">
        <ul class="list-group">
          <div v-for="url in urlData">
            <li class="list-group-item col-7 mx-auto">
              <div class="d-flex w-100 justify-content-between">
               <span>Original: {{url.LONGURL}}</span><span>Shortened: https://cs3103.cs.unb.ca:8028/{{url.TINYURL}} </span>
                <div class="btn-group-xs">
                  <button class="utilityBtn text-danger" v-on:click="deleteURL(url.TINYURL);fetchURLs();">x</button>
                  <button class="utilityBtn text-danger" v-on:click="copy(url.TINYURL)">📄</button>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/url.js" ></script>
  <link rel="stylesheet" href="/static/url.css"/>
</body>
</html>
